.input_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: 30px;
  margin-top: 90px;
}
.input_box-input {
  padding: 12px 5px;
  font-weight: 400;
  font-size: 14px;
  color: #0d263b;
  border: 1px solid #e6e9ec;
  border-radius: 2px;
  width: 527px;
}

.input_box-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 40px;
  gap: 8px;
  width: 180px;
  height: 44px;
  background: #0061df;
  border: 1px solid #0061df;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
}
.fa-magnifying-glass {
  font-size: inherit;
}
